* {
    box-sizing: border-box;
}

body {
    background-color: silver;

}

.flex-container {
    display: flex;
    justify-content: space-around; 
}

.flex-item {
    background-color: orange;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    align-content: space-around;
    margin: 20px;
    display: inline-block;
    position: relative;
}

@keyframes prvaanimacija {
    0% { 
        transform: scale(1.0);
        background-color: orange;
        position: relative;
    }
    50% {
        transform: scale(1.2);
        background-color: red;
        position: relative;
    }
    100% {
        transform: scale(1.0);
        background-color: orange;
        position: relative;
    }
}

@keyframes drugaanimacija {
    0% {
        position: relative; 
        top: 0px;
        transform: rotate(0deg);
    }
    50% {
        position: relative;  
        top: 50px;
        transform: rotate(360deg);
    }
    100% {
        position: relative; 
        top: 0px;
        transform: rotate(0deg);
    }
}

@keyframes trecaanimacija {
    0% {
        position: relative;  
        border-radius: 50%;
        transform: rotate(0deg);
    }
    25% {
        position: relative;  
        border-radius: 25%;
        transform: rotate(72deg);
    }
    50% {
        position: relative; 
        border-radius: 0%;
        transform: rotate(144deg);
    }
    75% {
        position: relative;  
        border-radius: 25%;
        transform: rotate(288deg);
    }
    100% {
        position: relative; 
        border-radius: 50%;
        transform: rotate(360deg);
    }
}

@keyframes cetvrtaanimacija {
    0% {
        position: relative;  
        top: 0px;
    }
    100% {
        position: relative; 
        top: 50px;
    }
}

@keyframes petaanimacija {
    0% {
        position: relative;  
        top: 0px;
    }
    20% {
        position: relative;  
        top: 200px;
    }
    40% {
        position: relative;  
        top: 200px;
        transform: rotate(180deg);
    }
    60% {
        position: relative;  
        top: 200px;
        transform: rotate(360deg);
        background-color: red;
    }
    80% {
        position: relative;  
        top: 200px;
        transform: rotate(0deg);
        background-color: orange;
    }
    100% {
        position: relative;  
        top: 0px;
    }
}

@keyframes sestaanimacija {
    0% {
        position: relative;  
        top: 0px;
    }
    100% {
        position: relative; 
        top: 250px;
    }
}

.flex-item:first-of-type {
    animation: prvaanimacija 2s ease-in-out infinite;
}
   
.flex-item:nth-child(2) {
    animation: drugaanimacija 2s ease-in-out infinite;
}

.flex-item:nth-child(3) {
    animation: trecaanimacija 4s linear infinite;
}

.flex-item:nth-child(4) {
    animation: cetvrtaanimacija 1s ease-in-out infinite;
}

.flex-item:nth-child(5) {
    animation: petaanimacija 5s ease-in-out infinite;
}

.flex-item:nth-child(6):hover {
    animation: sestaanimacija 1s ease-in-out infinite;
}